* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f056b;
  }
  
  .container {
    position: relative;
    top: 50px;
  }
  .container h3 {
    text-align: center;
    margin: 40px 0;
    color: white;
    font-size: 20px;
  }
  .cup {
    position: relative;
    width: 200px;
    height: 220px;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    cursor: pointer;
  }
  
  .cup:hover {
    transform: rotate(-30deg);
    transition: 0.3s;
  }
  .cup::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 20px;
  
    background: #8d6e63;
    border-radius: 5px;
    z-index: 45;
    overflow: hidden;
    display: none;
    animation: overflowing 2s ease-in-out forwards;
  }
  @keyframes overflowing {
    0% {
      width: 0px;
      height: 0px;
      clip-path: polygon(1% 1%, 7% 7%, 7% 17%, 6% 29%, 7% 46%, 6% 63%, 4% 69%, 4% 80%, 9% 93%, 3% 97%);
      
    }
    80%,100% {
      width: 65px;
      height: 150px;
      clip-path: polygon(1% 1%, 7% 7%, 7% 17%, 6% 29%, 7% 46%, 6% 63%, 4% 69%, 4% 80%, 9% 93%, 3% 97%);
     
    }
  }
  .cup:hover::before {
    transform: rotate(0deg);
  
    display: block;
  }
  
  .top {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  }
  .circle {
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    background: linear-gradient(to left, #f9f9f9, #d9d9d9);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .tea {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8d6e63;
    border-radius: 50%;
    animation: animate 1s ease infinite;
  }
  .cup:hover .tea {
    animation: none;
  }
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        1% 9%,
        14% 2%,
        31% 7%,
        39% 10%,
        51% 13%,
        58% 11%,
        69% 10%,
        75% 5%,
        84% 3%,
        99% 2%,
        99% 99%,
        0% 99%
      );
    }
    50% {
      clip-path: polygon(
        1% 25%,
        21% 32%,
        37% 36%,
        50% 35%,
        63% 29%,
        70% 22%,
        80% 18%,
        90% 15%,
        99% 13%,
        100% 100%,
        1% 99%
      );
    }
  }
  
  .handle {
    position: absolute;
    right: -44px;
    top: 20px;
    width: 140px;
    height: 160px;
    border: 25px solid #dcdcdc;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius: 50%;
    transform: rotate(42deg);
  }
  
  .vapour {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
  }
  
  .vapour:hover{
      transform:rotate(30deg);
  }
  .vapour span {
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    animation: vapour 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--i) * -0.5s);
  }
  @keyframes vapour {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    50% {
      transform: translateY(-150px) scale(1.2);
    }
    95% {
      opacity: 0;
    }
    100% {
      transform: translateY(-300px) scale(1.3);
    }
  }
  