@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poppins:wght@300;400;600;700;800&display=swap');
@font-face {
    font-family: 'Formula Condensed';
    src: url('../fonts/FormulaCondensed-Light.otf') ;
    font-weight:400;
    font-style:normal;
  }
  @font-face {
    font-family: 'Formula Condensed';
    src: url('../fonts/FormulaCondensed-Bold.otf') ;
    font-weight:700;
    font-style:normal;
  }

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body
{
    padding:20px;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    border-bottom: 1px solid #E7E7E7;   
}
header h1
{
    font-weight:800;
    font-size:36px;
    font-family:'Montserrat',sans-serif;
}
header .social
{
    background-color:#B885CD;
    padding:5px 15px;
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items: center;

    gap:1.5rem;
}
header .social a
{
    text-decoration:none;
    display:flex;
   justify-content:center;
  align-items:center;
}
header .social a i
{
    color:white;
}
header .social a img
{
    width:26px;
    height:26px;
}
//stylisation du main
main .presentation
{
    display:flex;
    justify-content:space-between;
    margin: 30px 0;

}
.anime
{
height:500px;
width: 500px;
}
main .presentation .presentation-text
{
display:flex;
flex-direction:column;
gap:1.7rem;
width:40%;
margin:40px 0;
}
main .presentation .presentation-text h1
{
    font-family:"Formula Condensed", sans-serif;
   font-size:54px;
   font-weight:normal;
}
main .presentation .presentation-text p
{
    font-size:20px;
}
main .presentation .presentation-text a
{
    background:#ED6D49;
    padding:10px 15px;
    text-decoration:none;
    font-size:20px;
    color:white;
    align-self:flex-start;
    display:flex;
    align-items:center;
    gap:0.3rem;
}
main .presentation .presentation-text a img
{
witdh:15px;
height:15px;
}








@media (max-width: 768px) {
    header h1 {
      font-size: 18px;
    }
    header .social{
        gap:1rem;
    }
   
    /* MEDIAS QUERIES POUR LE MAIN */
    main .presentation 
    {
        display:block;
    }
    main .presentation .presentation-text{
        width:100%;
    }
    main .presentation .presentation-text h1
    {
        font-size:36px;
        line-height:50px;
    }
  }